* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: sans;
  background-color: white;
}

#sidebar {
  width: 20dvw;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: start;
}

main {
  background-color: #ececec;
  width: 100dvh;
  height: 100dvh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

#profileBar {
  --uno: "py-4 px-2";
  box-sizing: border-box;
  border-bottom: 1px solid #a7a7a7;

  min-height: 64px;
}

#profileBarContent {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#profileBarPicture {
  --uno: "rounded-full";
  width: 52px;
  align-self: center;
}

#newChat {
  --uno: px-8 py-6;
  border-bottom: 1px solid #a7a7a7;

}

#newChatButton {
  --uno: px-4 py-2;
  background-color: #A491D3;

  color: white;
}

.chat {
  --uno: px-4 py-2;
  display: flex;
  gap: 6px;
  border-bottom: 1px solid #a7a7a7;

  &>img {
    --uno: rounded-full;
    width: 60px;
  }
}
